mixin showcaseItem(name, icon, href, description)
  a.icon-scale.col-sm-4.col-xs-6(href!=href)
    i(class!=icon)
    .content
      strong= name
      p= description

mixin circleLogo(name, slug, href, icon)
  a.circle-logo(href!=href, data-name!=slug)
    .logo(class!=icon || '')
    .title= name

mixin howTo(name, href, icon, description)
  a.how-to(href!=href)
    .content
      i(class!=icon || '')
      .title= name
      .description= description