doctype html
html(lang="en")
  head
    - if (title)
      title= title
    - else
      title=site.title
    meta(charset="utf-8")
    include inc/sharing-metas

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="4aSwkVvotRegQ6g32k-21r38Fls9sO8VT5LytKdin3o")
    
    - if (env.PINGDOM_ID)
      script.
        var _prum = [['id', '#{env.PINGDOM_ID}'],
                     ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
              , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();

    - if (canonicalUrl)
      link(href=canonicalUrl, rel="canonical")
    link(href="//cdn.auth0.com/styleguide/latest/lib/logos/img/favicon.png", rel="shortcut icon")
    link(href="//cdn.auth0.com/styleguide/3.0.4/index.min.css", rel="stylesheet")
    - var commonStyleUrl = getAssetBundleUrl('commons', 'css');
    - if (commonStyleUrl)
      link(href=commonStyleUrl, rel="stylesheet")

    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/docs/vendor/jquery-1.11.3.min.js">\x3C/script>')
      
    - if (env.SENTRY_DSN)
      script(src="https://cdn.ravenjs.com/1.3.0/jquery,native/raven.min.js") 
      script.
        Raven.config('#{env.SENTRY_DSN}').install()
    script(src='//cdn.auth0.com/styleguide/vendor/bootstrap-3.2.0.min.js')
    script(src=getAssetBundleUrl('commons'))

    block head

    include inc/analytics
    include inc/ab-testing
    include inc/lock-sso

  body
    block body
    
  if (locals.user && user.tenants && user.tenants.length > 1)
    script.
      var getCookie = function (name) {
        var match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)'));
        return match ? match[1] : null;
      };

      var setCookie = function (name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + '=' + value + '; expires=' + date.toGMTString() + '; path=/; domain=#{env['COOKIE_SCOPE']}';
      }

      setCookie('#{env['CURRENT_TENANT_COOKIE']}', '#{user.tenant}', 7);

      setInterval(function () {
        var current_tenant = getCookie('#{env['CURRENT_TENANT_COOKIE']}');
        if (current_tenant && current_tenant !== '#{user.tenant}') {
          window.location.reload(true);
        }
      }, 3000);
