extends base

block body
  script(src=env.BASE_URL + '/js/owl.carousel.min.js')
  script(src=env.BASE_URL + '/js/page.min.js')
  script(src=env.BASE_URL + '/js/jquery.waypoints.js')
  script(src=env.BASE_URL + '/js/docs.js')
  script.
    $(function() {
      Auth0Docs.init(true);
    });
  .docs-home
    header.site-header!= webheader
    script.
      if (null != window.widget) {
        window.widget.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('header.site-header .login')
            .attr('href', "#{locals.uiURL}")
            .html('Open Dashboard');
        });
      }
    
    != sections.content

    include ../public/vendor/auth0-styleguide/lib/footer/demo.jade
