extends base

block head
  script(src=getAssetBundleUrl('standard'))

block body
  .docs-single
    header.site-header!= webheader
    script.
      if (null != window.widget) {
        window.widget.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('header.site-header .login')
            .attr('href', "#{locals.uiURL}")
            .html('Open Dashboard');
        });
      }

    .navigation-bar
      .wrapper
        .container
          .breadcrumbs(itemscope, itemtype='http://schema.org/BreadcrumbList')
            div(itemprop='itemListElement', itemscope, itemtype='http://schema.org/ListItem')
              a(href="/docs", itemprop='item')
                span.text(itemprop='name') Documentation
                meta(itemprop='position', content='1')/
            i.icon-budicon-461
            div(itemprop='itemListElement', itemscope, itemtype='http://schema.org/ListItem')
              a(itemprop='item')
                span.text(itemprop='name')= title
                meta(itemprop='position', content='2')/

          form#search(role="search", action="/docs/search", autocomplete="off")
            .form-group.search-control
              i.icon-budicon-489
              input.search-input.form-control(type="text", placeholder="Search for docs", name="q", value=query)

    //- Start content
    .js-doc-template.container
      .row
        .col-sm-3!= locals.sidebar

        .col-sm-9
          section.docs-content
            block content
            
          - if (!locals.user)
            #try-banner
              include ../node_modules/auth0-styleguide/lib/try-banner/demo.jade
          
    include ../node_modules/auth0-styleguide/lib/footer/demo.jade
