html
  head
    link(rel="stylesheet" href="//cdn.auth0.com/styleguide/latest/index.min.css")
    style.
      /* NOTE: this is rendered in a small frame and a media query for mobile
       * devices kicks in causing the widget to occupy the whole screen (with
       * a 100% height).
       */
      body #root .auth0-lock.auth0-lock {
        height: auto;
      }

  body
    #root(style='width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px; box-sizing: border-box;')
      | embeded area
    script(src=widget_url)
    script.
      if (window.Auth0Lock) {
        var lock = new Auth0Lock('!{clientID}', '!{namespace}', {
          container: 'root',
          assetsUrl:    '!{auth0_sdk_assets}',
          auth: {
            redirectUrl:  '!{callback || 'http://YOUR_APP/callback'}',
            responseType: '!{callbackOnHash ? "token" : "code"}'
          }
        });
        lock.show();
      } else {
        document.getElementById('root').innerHTML = 'Cannot load the widget at the moment, try again later.';
      }
