html
  head
    link(rel="stylesheet" href="//cdn.auth0.com/styleguide/latest/index.min.css")
  body(style="padding-top:30%;")
    .container
      .row
        .col-xs-4.col-xs-offset-4.text-center
          button.btn.btn-xs.btn-success(onclick='lock.show()') Login

    //- TODO: update LOGIN_WIDGET_URL env var?
    //- script(src=widget_url)
    script(src="https://cdn.auth0.com/js/lock/10.0.0-rc.2/lock.min.js")
    script.
      // define lock
      var lock = new Auth0Lock('!{clientID}', '!{namespace}', {
        assetsUrl: '!{auth0_sdk_assets}',
        auth: {
          redirectUrl:  '!{callback || 'http://YOUR_APP/callback'}',
          responseType: '!{callbackOnHash ? "token" : "code"}'
        },
        autofocus: false
      });

      // invoke at load
      lock.show();
