p There are different ways of integrating Auth0 in your site. Below, some of them with a preview and a code snippet to copy paste.

if account.loggedIn && account.clients && account.clients.length > 0 && !embedded
  div
    label Select one of your applications:
    select#client-chooser
      each client in account.clients
        option(value="#{client.clientID}") #{client.name}

div
  label Select how you want to trigger login:
  select#widget-chooser.form-control
      option(value="login") Lock widget - Modal
      option(value="embedded") Lock widget - Inline Form
      option(value="sms") Passwordless - SMS
      option(value="magiclink") Passwordless - Magic Link
      option(value="emailcode") Passwordless - Email Code
      option(value="custom") Custom UI
      option(value="redirect") Plain Link


p This is how it will look on a browser...
.browser
  .browser-toolbar
    .browser-icons
      a(href="javascript:history.back()", target="widget-demo")
        i.icon-budicon-521
      a(href="javascript:history.forward()", target="widget-demo")
        i.icon-budicon-519
      a(href="javascript:document.getElementById('widget-demo').contentWindow.location.reload(true);")
        i.icon-budicon-436
    .browser-address
      i.icon-budicon-285
      span#browser-url.browser-url https://your-domain.com/login
  .browser-content(class="login-widget2")
    iframe#widget-demo(src='')

div#widget-snippet

p Auth0 JavaScript libraries are Open Source:
  | #{" "}
  a(href="https://github.com/auth0/lock", target="_new") Auth0Lock
  | #{" & "}
  a(href="https://github.com/auth0/lock-passwordless", target="_new") Auth0LockPasswordless
  | #{" & "}
  a(href="https://github.com/auth0/auth0.js", target="_new") Auth0.js
  
