
style.
  pre code {
    background-color: inherit !important;
    color: inherit !important;
  }

.container
  .row
    .col-md-12
      div#api-explorer

script(src="https://cdn.auth0.com/api-explorer/api-explorer.js", type="text/javascript")
link(rel="stylesheet", href="https://cdn.auth0.com/api-explorer/api-explorer.css", type="text/css")

script.
    require(['api-explorer'], function () {
      var apiExplorer = require('api-explorer')
      apiExplorer({
        el:             $('#api-explorer'),
        isAuth:         true,
        tenantDomain:   '#{account.namespace}',
        clientId:       '#{globalClientID}',
        clientSecret:   '#{globalClientSecret}',
        docsDomain:     '#{env.DOMAIN_URL_DOCS}',
        user:           !{JSON.stringify(user)},
        readOnly:       #{readOnly},
        anchors:        true
      });
    });
