doctype html
html(lang="en")
  head
    title= site.title
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="author", content="")

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="google-site-verification", content="4aSwkVvotRegQ6g32k-21r38Fls9sO8VT5LytKdin3o")

    - if (canonicalUrl)
      link(href=canonicalUrl, rel="canonical")
    link(href="//cdn.auth0.com/styleguide/latest/lib/logos/img/favicon.png", rel="shortcut icon")
    link(href='//cdn.auth0.com/styleguide/latest/index.min.css', rel='stylesheet')
    link(href="//cdn.auth0.com/web-header/latest/standalone.css", rel="stylesheet")

    link(href=env.BASE_URL + '/css/docs.css', rel='stylesheet')

    script(type='text/javascript', src='//use.typekit.net/iws6ohy.js')
    script.
      try{Typekit.load();}catch(e){}

    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    script(src=env.BASE_URL + "/js/shims/window.location.origin.js")
    script(src='//cdn.auth0.com/styleguide/vendor/jquery-1.9.0.min.js')
    script(src='//cdn.auth0.com/styleguide/vendor/bootstrap-3.2.0.min.js')

    include inc/analytics
    include inc/lock-sso
    include inc/mixins

  body.docs-single(data-swiftype-index="false")
    header.site-header!= webheader
    script.
      if (null != window.widget) {
        window.widget.getClient().getSSOData(false, function (err, data) {
          if (!data || !data.sso) return;
          $('header.site-header .login')
            .attr('href', "#{locals.uiURL}")
            .html('Open Dashboard');
        });
      }
    - var nav = navigation['categories'];


    .js-sticky-nav
      .wrapper
        .container
          .breadcrumbs
            a(href="/")
              span.text Documentation
            a
              i.icon-budicon-461
              span.text Auth0.js


          form#search(role="search", action=env.BASE_URL + "/search", autocomplete="off")
            .form-group.search-control
              i.icon-budicon-489
              input#search-input.form-control(type="text", placeholder="Search for docs", name="stq")


    - var nav = navigation['categories'];

    //- Start content
    .container
      .row
        .col-sm-3
          nav.sidebar-menu(data-accordion-group)
            - for (var item in nav)
              .accordion(data-accordion)
                .nav-title(data-control)
                  i.icon-budicon-461
                  h2= nav[item].name
                ul.nav-content(data-content)
                  li
                    a(href="") Option
                  li
                    a(href="") Option
                  li
                    a(href="") Option

        .col-sm-9.col-md-7
          section.docs-content(data-swiftype-index="true")
            block content

        .col-md-2
          nav.sidebar-sbs
            .wrapper
              h2 Step by step
              a(href="").active Operations for Database connections
              a(href="") Operations for Database connections
              a(href="") Operations for Database connections
              a(href="") Operations for Database connections

    .related-howto
      .container
        .row
          .col-md-8
            h3 Related how to's
            .articles-item
              .item
                a(href="")
                  i.icon-budicon-754
                  | Configure an Identity Provider
              .item
                a(href="")
                  i.icon-budicon-754
                  | Adding user metadata
              .item
                a(href="")
                  i.icon-budicon-754
                  | Running tasks after authentication
              .item
                a(href="")
                  i.icon-budicon-754
                  | Using Webtasks to set Permissions
          .col-md-4
            h3 Send feedback
            p Did you find this document userful?
              .feedback-choose
                .choose.choose-yes
                  a(href="")
                    i.icon-budicon-470
                    | Yes
                .choose.choose-no
                  a(href="")
                    i.icon-budicon-471
                    | No
              .feedback-yes(style="display: none")
                h5 Thank you for your feedback
              .feedback-no(style="display: none")
                textarea.form-control

    hr

    include ../public/vendor/auth0-styleguide/lib/footer/demo.jade

  //- Start search feature scripts
  script(src=env.BASE_URL + "/js/jquery.ba-hashchange.min.js", type="text/javascript")
  script(src=env.BASE_URL + '/js/search.js')
  //- End search feature scripts

  script(src=env.BASE_URL + '/js/prettify.js')
  script(src=env.BASE_URL + '/js/owl.carousel.min.js')
  script(src=env.BASE_URL + '/js/jquery.accordion.min.js')
  script(src=env.BASE_URL + '/js/page.min.js')
  script(src='https://fb.me/react-0.13.3.min.js')
  script(src=env.BASE_URL + '/js/tutorial-navigator.js')


  script(type='text/javascript').
    !function ($) {
      $(function(){
      $('pre').each(function (i, e) {
        // Ignore 'pre' elements inside .api-explorer elements
        if ($(e).closest('.api-explorer').length === 0) {
          $(e).addClass('prettyprint linenums');
        }
      });
      window.prettyPrint && prettyPrint();
      })
    }(window.jQuery);

  //- Accordion
  script(type='text/javascript').
    $('.accordion').accordion();

  //- Feedback
  script(type="text/javascript").
    $('.choose').on('click', function(e) {
      e.preventDefault();

      $('.feedback-choose').hide();

      if ($(this).hasClass('choose-yes')) {
        $('.feedback-yes').show();
      } else {
        $('.feedback-no').show();
      }
    })

  //- Nav fixed
  script(type='text/javascript').
    $(window).on('scroll', function() {
      var sticky = $('.sidebar-sbs'),
          $stickyHeight = $('.sidebar-sbs .wrapper').height(),
          $contentHeight = $('.docs-content').outerHeight();

      function toggleSticky($nav) {
        if(!$nav.hasClass('is-fixed')) {
          navOffset = $nav.offset().top + 40;
          stopSticky = $contentHeight - $stickyHeight;
        }
        if ($(window).scrollTop() > navOffset) {
          $nav.css('height', '' + $contentHeight + 'px');
          $nav.addClass('is-fixed');
        } else {
          $nav.removeClass('is-fixed');
        }
        if ($(window).scrollTop() > stopSticky) {
          $nav.addClass('is-stop');
        } else {
          $nav.removeClass('is-stop');
        }
      }

      if(sticky.length) {
        toggleSticky(sticky);
      }
    });

  //- Begin Inspectlet Embed Code
  script#inspectletjs(type="text/javascript").
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1881287289]);
    (function() {
      function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
      if (window.attachEvent){
        window.attachEvent('onload', __ldinsp);
      }else{
        window.addEventListener('load', __ldinsp, false);
      }
    })();

  script.
    //- var sectionIndex = 1;
    //- $('h2,h3,h4').each(function(){
    //-   $(this)
    //-     .attr('id', sectionIndex)
    //-     .prepend('<a class="anchor" href="#' + sectionIndex + '"><i class="icon icon-budicon-345"></i></a>');
    //-   sectionIndex++;
    //- });

    // Init Tutorial Navigator
    React.render(
      React.createElement(TutorialNavigator, { platforms: !{JSON.stringify(quickstarts)} }),
        $('.js-tutorial-navigator').get(0)
    );


    if(location.hash) {
      location.hash = location.hash;
    }

    if (~['/', '/api', '/auth-api'].indexOf(window.location.pathname) ||
        ~window.location.pathname.indexOf('/quickstart')) {
      $('.fixit').hide();
    }

    $('.fixit a').attr('href', 'https://github.com/auth0/docs/edit/master/articles' + window.location.pathname.substr("#{env.BASE_URL}".length) + '.md');

  if (locals.user && user.tenants && user.tenants.length > 1)
    script.
      var getCookie = function (name) {
        var match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)'));
        return match ? match[1] : null;
      };

      var setCookie = function (name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + '=' + value + '; expires=' + date.toGMTString() + '; path=/; domain=#{env['COOKIE_SCOPE']}';
      }

      setCookie('#{env['CURRENT_TENANT_COOKIE']}', '#{user.tenant}', 7);

      setInterval(function () {
        var current_tenant = getCookie('#{env['CURRENT_TENANT_COOKIE']}');
        if (current_tenant && current_tenant !== '#{user.tenant}') {
          window.location.reload(true);
        }
      }, 3000);
